@import 'reset.css';
body {
  font-family: sans-serif;
}

.map,
.container-fluid {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.map {
  z-index: 1;
  cursor: crosshair;
}

.menu {
  position: absolute;
  text-align: center;
  top: 36px;
  right: 36px;
  z-index: 2;
  background-color: white;
  width: 250px;
  border: 0;
  transition: 0.5s all;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
}

.map-wrapper:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

.time {
  position: absolute;
  bottom: 16px;
  background-color: white;
  z-index: 500;
  width: 300px;
  box-sizing: border-box;
  padding: 8px;
  text-align: center;
  font-size: 2em;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
  left: 16px
}

.time .day {
    font-weight: bold;
    width: 65%;
    box-sizing: border-box;
    text-align: right;
    float: left;
    padding-right: 8px;
    border-right: 1px solid #DDD;
}

.time .clock{
  box-sizing: border-box;
  width: 35%;
  float: left;
  text-align: left;
  padding-left: 8px;

}

.menu .explanation {
  text-align: center;
  padding: 16px;
  color: #888;
}

.menu input {
  padding: 8px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 8px;
}

.menu button {
  width: 100%;
  padding: 16px;
  color: white;
  background-color: #1D4D9F;
  font-weight: bold;
  border: 0;
  box-sizing: border-box;
  transition: 0.3s all;
  cursor: pointer;
}

@keyframes loadingInit {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  animation: loadingInit 0.3s;
}

.loading-explanation {
  padding: 16px;
  font-size: 1.5em;
  font-weight: bold;
}

.loading .fa {
  margin: 0 auto;
}

.custom-datepicker {
  padding: 8px;
  margin-bottom: 8px;
}

.menu button.disabled {
  background-color: #8CABD9;
}

.menu button:hover {
  background-color: #8CABD9;
}

.header {
  position: absolute;
  z-index: 2;
  box-sizing: border-box;
  padding: 32px;
  right: 0;
}

.marker-list {
  box-sizing: border-box;
  background-color: white;
  z-index: 2;
  width: 100%;
  border-top: 1px solid #DDD;
}

.marker-item {
  border-bottom: 1px solid #DDD;
  text-align: left;
  box-sizing: border-box;
  position: relative;
  width: 100%;
}

.marker-item:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

.marker-item .text {
  width: 75%;
  padding: 16px;
  box-sizing: border-box;
  float: left;
}

.marker-item .delete {
  width: 25%;
  padding: 16px;
  box-sizing: border-box;
  float: left;
  text-align: right;
  color: #888;
  cursor: pointer;
  transition: 0.3s color;
}

.marker-item .delete:hover {
  color: #DDD;
}

.header input {
  padding: 8px;
  width: 125px;
  box-sizing: border-box;
}

.start-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: darkred;
}

.end-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url("../images/logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 27px 15px;
  background-color: #084E5A;
}